*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home_page{
    color: gray;
    font-size: small;
    background-color: #FFFFFF;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    color: white;
    font-size:x-small;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar .contact{
    display: flex;
}

.navbar .contact .mail{
    padding-right: 40px;
}

.navbar .details{
    display: flex;
}

.navbar .details .usd{
    padding-left: 15px;
}

.navbar .details .login{
    padding-left: 15px;
}

.navbar .details .wishlist{
    padding-left: 15px;
}

.navbar .details .cart{
    padding-left: 15px;
}
 
.nav{
    display: flex;
    height: 60px;
}

.nav .logo{
    margin-left: 233px;
    margin-right: 55px;
    font-family: 'josefin Sans';
    font-size: 34px;
    line-height: 40px;
    color: #0D0E43;
    display: flex;
    align-items: center;
}

.nav .about{
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#0D0E43;
    display: flex;
    align-items: center;
}

.nav .about > div{
    margin-right: 30px;
}

.nav .about .home{
    color: #FB2E86;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.new_furniture{
    background-color: #F2F0FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, 200px);
    /* background-color: blue; */
}


.bell_image img{
    max-width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 1/2;
    /* background-color: red; */
}

.new_collection{
    grid-column: 2/5;
    grid-row: 1/3;
    width: 590px;
    align-self: center;
    margin-top: 30px;
    padding-right: 15px;
    /* background-color: gray; */
}

.new_collection .best_furniture{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FB2E86;
}

.new_collection .in_2020{
    font-family: 'Josefin Sans';
    font-size: 53px;
    line-height: 65px;
    letter-spacing: 0.015em;
    color: #000000;
}

.new_collection .lorem{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #8A8FB9;
    margin-bottom: 30px;
    padding-top: 15px;
}

.new_collection .shop_now{
    font-family: 'Josefin Sans';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 40px;
    display: inline;
    padding: 8px 25px 8px 25px;
    background-color: #FB2E86;
}

.chair img{
    min-width: 50%;
    grid-column: 5/7;
    width: 500px;
    margin-top: 50px;
    background-color:  #F2F0FF;
    padding-bottom: 10px;
    /* background-color: yellow; */
}

.space{
    background-color: #F2F0FF;
    padding-bottom: 130px;
    color: #F2F0FF;
}

.featured_products .p_featured_products{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
    padding-left: 510px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.featured_products .grid_featured_products{
    margin-bottom: 100px;
}

.featured_products .grid_featured_products .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 900px;
    margin: 0 auto;
    gap: 1rem;
    /* padding-top: 50px 0; */

}

.plastic_wood_box .plastic_wood{
     /* padding: 25px 15px 15px 30px; */
     /* border: none; */
     /* border-radius: 4px; */
     /* background: #F6F7FB; */
     /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08); */
}

.plastic_wood_box{
    width: 210px;
    height: 295px;
    background-color: #F6F7FB;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.plastic_wood_box .plastic_wood img{
     width: 75%;
     height: 75%;
}

.plastic_wood_box .plastic_wood{
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specification .cantilever_chair{
    color: #FB2E86;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
}

.specification{
    /* padding-left: 20px; */
    /* background-color: orchid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 110px; */
}

.specification .line_bars {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.specification .line_bars .first_line{
    height: 4px;
    width: 20px;
    background-color: #05E6B7;
    border-radius: 2.5px;
    margin-right: 5px;
}

.specification .line_bars .second_line{
    height: 4px;
    width: 20px;
    background-color: #F701A8;
    border-radius: 2.5px;
    margin-right: 5px;
}

.specification .line_bars .third_line{
    height: 4px;
    width: 20px;
    background-color: #FFEAC1;
    border-radius: 2.5px;
}

.specification .code{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #151875;
    padding-bottom: 10px;
}

.specification .dollars{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151875;
}

.brown_wood_box{
    width: 210px;
    background-color: #F7F7F7;
    height: 240px;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.brown_wood_box .brown_wood img{
    width: 50%;
    height: 50%;
}

.brown_wood_box .top_section .font_awesome .fa-shopping-cart{
    /* background-color: blue; */
    color: blue;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    margin-left: 10px;
}

.brown_wood_box .top_section .font_awesome .fa-heart{
    color: aqua;
    margin-left: 10px;
}

.brown_wood_box .top_section .font_awesome .fa-search-plus{
    color: aqua;
    margin-left: 10px;
}

.brown_wood_box .top_section .brown_wood{
     display: flex;
     justify-content: center;
}

.brown_wood_box .top_section{
    background: #F7F7F7;
}

.brown_wood_box .top_section .view_details{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #08D15F;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.brown_wood_box .specification{
  height: 110px;
  background-color: #2F1AC4;
}

.brown_wood_box .specification .cantilever_chair{
    color: #fff;
    padding-top: 10px;
}

.brown_wood_box .specification .code{
    color: #fff;
    padding-bottom: 10px;
}

.brown_wood_box .specification .dollars{
    color: #fff;
    padding-bottom: 10px;
}

.blue_wood_box .blue_wood{
    /* padding: 25px 15px 15px 30px; */
    /* border: none; */
    /* border-radius: 4px; */
    /* background: #F6F7FB; */
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08); */
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue_wood_box{
    background-color: blue;
    width: 210px;
    height: 295px;
    background-color: #F6F7FB;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blue_wood_box .blue_wood img{
    width: 75%;
    height: 75%;
}

.baby_wood_box .baby_wood{
     /* padding: 25px 15px 15px 30px; */
     /* border: none; */
     /* border-radius: 4px; */
     /* background: #F6F7FB; */
     /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08); */
     height: 185px;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.baby_wood_box{
    width: 200px;
    /* background-color: red; */
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.baby_wood_box .baby_wood img{
    width: 75%;
    height: 75%;
}

.four_bars{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.four_bars .bar_one{
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #F83667;
}

.four_bars .bar_two{
    height: 4px;
    width: 20px;
    border-radius: 3px;
    background-color: #FF94DF;
    margin-left: 10px;
}

.four_bars .bar_three{
    height: 4px;
    width: 20px;
    border-radius: 3px;
    background-color: #FF94DF;
    margin-right: 10px;
    margin-left: 10px;
}


.four_bars .bar_four{
    height: 4px;
    width: 20px;
    border-radius: 3px;
    background-color: #FF94DF;
}
