*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home_page{
    color: gray;
    font-size: small;
    background-color: #FFFFFF;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    color: white;
    font-size:x-small;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar .contact{
    display: flex;
}

.navbar .contact .mail{
    padding-right: 40px;
}

.navbar .details{
    display: flex;
}

.navbar .details .usd{
    padding-left: 15px;
}

.navbar .details .login{
    padding-left: 15px;
}

.navbar .details .wishlist{
    padding-left: 15px;
}

.navbar .details .cart{
    padding-left: 15px;
}
 
.nav{
    display: flex;
    height: 60px;
}

.nav .logo{
    margin-left: 233px;
    margin-right: 55px;
    font-family: 'josefin Sans';
    font-size: 34px;
    line-height: 40px;
    color: #0D0E43;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav .about{
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#0D0E43;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav .about > div{
    margin-right: 30px;
}

.nav .about .home{
    color: #FB2E86;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.new_furniture{
    background-color: #F2F0FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, 200px);
}

.bell_image img{
    max-width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 1/2;
    /* background-color: red; */
    margin-left: auto;
}

.new_collection{
    grid-column: 2/5;
    grid-row: 1/3;
    width: 590px;
    align-self: center;
    margin-top: 30px;
    padding-right: 15px;
}

.new_collection .best_furniture{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FB2E86;
}

.new_collection .in_2020{
    font-family: 'Josefin Sans';
    font-size: 53px;
    line-height: 65px;
    letter-spacing: 0.015em;
    color: #000000;
}

.new_collection .lorem{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #8A8FB9;
    margin-bottom: 30px;
    padding-top: 15px;
}

.new_collection .shop_now{
    font-family: 'Josefin Sans';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 40px;
    display: inline;
    padding: 8px 25px 8px 25px;
    background-color: #FB2E86;
}

.chair img{
    min-width: 50%;
    grid-column: 5/7;
    width: 500px;
    margin-top: 50px;
    background-color:  #F2F0FF;
    padding-bottom: 10px;
}

.space{
    background-color: #F2F0FF;
    padding-bottom: 130px;
    color: #F2F0FF;
}

.featured_products .p_featured_products{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
    margin-left: 520px;
    padding-top: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

.featured_products .grid_featured_products{
    margin-bottom: 100px;
}

.featured_products .grid_featured_products .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 900px;
    margin: 0 auto;
    gap: 1rem;
}

.specification{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    background-color:#FFFFFF;
    border: 1px solid #F2F4FF;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.specification:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    background-color: #2F1AC4;
}

.specification .cantilever_chair{
    color: #FB2E86;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
}


.specification .cantilever_chair:hover{
    color: #FECBE1;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
}


.specification .line_bars {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.specification .line_bars .first_line{
    height: 4px;
    width: 20px;
    background-color: #05E6B7;
    border-radius: 2.5px;
    margin-right: 5px;
}

.specification .line_bars .second_line{
    height: 4px;
    width: 20px;
    background-color: #F701A8;
    border-radius: 2.5px;
    margin-right: 5px;
}

.specification .line_bars .third_line{
    height: 4px;
    width: 20px;
    background-color:#00009D;
    border-radius: 2.5px;
}


.specification .line_bars .third_line:hover{
    height: 4px;
    width: 20px;
    background-color: #FFEAC1;
    border-radius: 2.5px;
}


.specification .code{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #151875;
    padding-bottom: 10px;
}

.specification .code:hover{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding-bottom: 10px;
}


.specification .dollars{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151875;
}


.specification .dollars:hover{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-bottom: 10px;
}

.top_section .font_awesome .fa-shopping-cart{
    color:#F7F7F7;
    padding: 5px;
    border-radius: 50%;
    box-shadow: none;
    margin-left: 10px;
}

.top_section .font_awesome .fa-shopping-cart:hover{
    color: blue;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    margin-left: 10px;
}


.top_section .font_awesome .fa-heart{
    color:#F7F7F7;
    margin-left: 10px;
}

.top_section .font_awesome .fa-heart:hover{
    color: aqua;
    margin-left: 10px;
}

.top_section .font_awesome .fa-search-plus:hover{
    color:aqua;
    margin-left: 10px;
}

.top_section .font_awesome .fa-search-plus{
    color:#F7F7F7;
    margin-left: 10px;
}

.top_section .plastic_wood{
     display: flex;
     justify-content: center;
}

.top_section{
    background-color:#F7F7F7;
}

 .top_section .view_details{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 14px;
    color:#F7F7F7;
    background-color:#F7F7F7;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.top_section .view_details:hover{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #08D15F;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}


.plastic_wood_box{
    width: 210px;
    background-color: #F7F7F7;
    height: 240px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.plastic_wood{
    height: 121px;
    display: flex;
    justify-content: center;
}

.plastic_wood_box .plastic_wood img{
    width: 130px;
    height: 100%;
}
 

.brown_wood_box{
    width: 210px;
    background-color: #F7F7F7;
    height: 240px;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.brown_wood{
    height: 121px;
    display: flex;
    justify-content: center;
}

.brown_wood_box .plastic_wood img{
    width: 130px;
    height: 100%;
}

.blue_wood_box{
    width: 210px;
    background-color: #F7F7F7;
    height: 240px;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blue_wood{
    height: 121px;
    display: flex;
    justify-content: center;
}

.blue_wood_box .blue_wood img{
    width: 130px;
    height: 100%;
}



.baby_wood_box{
    width: 210px;
    background-color: #F7F7F7;
    height: 240px;
    border-radius: 15px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.baby_wood{
    height: 121px;
    display: flex;
    justify-content: center;
}

.baby_wood_box .baby_wood img{
    width: 130px;
    height: 100%;
}

.four_bars{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.four_bars .bar_one{
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #F83667;
}

.four_bars .bar_two{
    height: 4px;
    width: 20px;
    border-radius: 3px;
    background-color: #FF94DF;
    margin-left: 10px;
}

.four_bars .bar_three{
    height: 4px;
    width: 20px;
    border-radius: 3px;
    background-color: #FF94DF;
    margin-right: 10px;
    margin-left: 10px;
}


.four_bars .bar_four{
    height: 4px;
    width: 20px;
    border-radius: 3px;
    background-color: #FF94DF;
}

/* .leatest_products
////////////////////////////////
///////////////////////////////
////////////////////////////// */

.leatest_products .p_leatest_products{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    display: flex;
    justify-content: center;    
    margin-bottom: 20px;
    font-weight: bold;
}

.arrivals .arrival_list .new_arrival{
    color: #FB2E86;
    text-decoration: underline;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 5px;
}

.arrivals .arrival_list{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
    display: flex;
    width: 500px;
    margin-left: 450px;
    margin-bottom: 50px;
}

.arrival_list .first_arrival{
     width: 213px;
     display: flex;
     justify-content: space-between;
}

.arrival_list .second_arrival{
     display: flex;
}

 

.arrivals .arrival_list .featured{
    margin-left: 43px;
}

.arrivals .arrival_list .special_offer{
     margin-left: 44px;
}

.grid_leatest_products_one{
    margin-bottom: 80px;
}

.grid_leatest_products_one .container{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
}

.squared_box{
    height: 200px;
    width: 270px;
}

.grid_leatest_products_two{
    margin-bottom: 80px;
}

.grid_leatest_products_two .container{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
} 

.thick_solfa{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F7F7F7;
    height: 170px
}

.thick_solfa img{
    width: 60%;
    height: 95%;
}

.squared_box .top_section{
    background-color: #fff;
}

.gold_wood{
    display: flex;
    align-items: flex-end;
    height: 170px;
}

.gold_wood img{
    width: inherit;
    height: 100%;
}


.squared_box .top_section{
    display: flex;
}

.angle_tag img{
    width: 80%;
    height: 100%;
}

.plastic_2_wood{
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    align-items: flex-end;
    height: 170px
}

.plastic_2_wood img{
    width: 60%;
    height: 95%;
}

.about{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.about .about_text{
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 19px;
    color: #151875;
    border-bottom: 2px ridge #EEEFFB;
}

.about .about_dollars{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #151875;
}

.about .about_dollars > span{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #FB2448;
}


.top_section .first_column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.first_column{
justify-content: space-between;
}

.first_column .font_awesome{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.font_awesome .search_plus{
    padding-bottom: 6px;
}

.king_wood{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F7F7F7;
    height: 170px
}

.king_wood img{
    width: 60%;
    height: 95%;
}

.blck_upholstery{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F7F7F7;
    height: 170px
}

.blck_upholstery img{
    width: 60%;
    height: 95%;
}

.baby2_wood{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F7F7F7;
    height: 170px
}

.baby2_wood img{
    width: 60%;
    height: 95%;
}

/* shopex_offer 
////////////////////////////
//////////////////////////
//////////////////////////*/

.shopex_grid{
    margin-bottom: 140px;
}

.p_shopex_offer{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-weight: bold;
}

.shopex_grid .container{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem
}

.mini_box{
    width: 210px;
    height: 240px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2px;
}

.car{
    font-size: 40px;
    color: red;
    padding-top: 30px;
    padding-bottom: 15px;
}

.comment_dollar{
    font-size: 40px;
    color: orange;
    padding-top: 30px;
    padding-bottom: 15px;
}

.trophy{
    font-size: 40px;
    color: orchid;
    padding-top: 30px;
    padding-bottom: 15px;
}

.circle_notch{
    font-size: 40px;
    color: gray;
    padding-top: 30px;
    padding-bottom: 15px;
}

.time{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 26px;
    color: #151875;
    font-weight: bold;
}

.lorem10{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(26, 11, 91, 0.3);
    letter-spacing: normal;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* unique_products starts
////////////////////////
///////////////////// ///
///////////////////////*/

.unique_products .two_flex{
    display: flex;
}

.unique_text .unique_heading{
    font-family: 'Josefin Sans';
    font-size: 35px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #151875;
    font-weight: bold;
}

.unique_products{
    background-color: #F1F0FF;
}

.unique_products .two_flex{
    width: 1015px;
    padding-top: 50px;
    padding-left: 15px;
    margin: 0 auto;
}

.two_flex .unique_text{
    padding-top: 75px;
}

.unique_text .points{
    line-height: 3rem;
}

.inner_shadow{
    background-image: url("unique_images/blue_shadow.png");
    background-repeat: no-repeat;
}

.point_color img{
   width: 15px;
   clip-path: circle();
}

.points .each_point_one{
    display: flex;
    margin-bottom: 25px;
}

.points .each_point_one .point_color{
    margin-right: 10px;
    font-size: 70px;
    padding-bottom: 1px;
}

.each_point_one .paragraph{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #ACABC3;
    margin-top: auto;
    font-weight: bold;
}


.points .each_point_two{
    display: flex;
}

.points .each_point_two .point_color{
    margin-right: 10px;
    font-size: 70px;
    display: flex;
    align-items: flex-start;
    padding-top: 3px;
}

.each_point_two .paragraph{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #ACABC3;
    font-weight: bold;
}


.points .each_point_three{
    display: flex;
    padding-bottom: 5px;
}

.points .each_point_three .point_color{
    margin-right: 10px;
    font-size: 70px;
    padding-bottom: 2px;
}

.each_point_three .paragraph{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #ACABC3;
    margin-top: auto;
    font-weight: bold;
}

.add_cart {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: center;
}

.add_cart a{
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #FB2E86;
    padding: 11px 30px 12px 25px;
}

.add_cart .italian{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #151875;
    margin-left: 18px;
    font-weight: bold;
    
}

.add_cart .italian > span{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #151875;
   display: block;
   padding-top: 5px;
}

/* .trending_products
////////////////////////////
////////////////////////////
////////////////////////// */

.trending_products{
    margin-bottom: 40px;
}

.trending_products .p_trending_products{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 500px;
    font-weight: bold;
}

.trending_products .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 900px;
    margin: 0 auto;
    gap: 1rem;
}

.container .upholstery_box{
    /* background-color: red; */
    width: 210px;
    height: 280px;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.upholstery_box .trending_image{
    background-color: #F5F6F8;
    width: 90%;
    margin-left: 12px;
    margin-top: 10px;
    height: 65%;
    padding-top: 40px;
    padding-left: 35px;
}

.trending_image img{
   height: 80%;
   width: 75%;
}

.upholstery_box .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.description .first_des{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
    color: #151875;
    padding-bottom: 7px;
    font-weight: bold;
}

.description .second_des{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    /* text-align: center; */
     color: #151875;
     font-weight: bold;
}

.description .second_des > span{
    font-weight: lighter;
    padding-left: 15px;
}

.off_products{
    margin-bottom: 120px;
    /* background-color: purple; */
}

.off_products .container{
    display: flex;
    width: 900px;
    margin: 0 auto;
    /* background-color: red; */
}

.off_chair img{
    /* width: 100%; */
    /* height: inherit; */
}

.a_box{
    background-color: #FFF6FB;
    /* height: 400px; */
    width: 325px;
    height: 235px;
    margin-right: 18px;
}

.a_box img{
    width: 80%;
    height: 100%;
}

.a_box .a_box_text{
    font-family: 'Josefin Sans';
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    /* text-align: center; */
    color: #151875;
    padding-top: 20px;
    padding-left: 20px;
}

.a_box .a_box_text_two{
    font-family: 'Josefin Sans';
    font-size: 26px;
    line-height: 30px;
    /* text-align: center; */
    color: #151875;
}

.shop_now_space{
    display: flex;
    justify-content: space-between;
}

.shop_now_space .shop_now{
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    /* text-align: center; */
    text-decoration-line: underline;
    color: #FB2E86;
    padding-top: 5px;
    padding-left: 20px;
}

.shop_now_space .off_products{
    /* background-color: palevioletred; */
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.a_box_two{
    background-color: #EEEFFB;
    width: 325px;
    margin-right: 18px;
    height: 235px;
}

.a_box_two .a_box_text{
    font-family: 'Josefin Sans';
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    /* text-align: center; */
    color: #151875;
    padding-top: 20px;
    padding-left: 20px;
}


.a_box_two .view_collection{
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    /* text-align: center; */
    text-decoration-line: underline;
    color: #FB2E86;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.a_box_two .off_products{
    display: flex;
    justify-content: flex-end;
}

.a_box_two img{
    width: 75%;
    height: 40%;
}

.off_text{
    padding-left: 8px;
    padding-top: 18px;
    font-weight: 530;
}

.off_text .text_one{
    font-family: 'Josefin Sans';
    font-size: 13px;
    line-height: 19px;
    /* text-align: center; */
    color: #151875;
    /* padding-left: 10px; */
}

.off_text .text_two{
    font-family: 'Josefin Sans';
    font-size: 11px;
    line-height: 14px;
    /* text-align: center; */
    text-decoration-line: line-through;
    color: #151875;
}

.off_chair_one_space{
    display: flex;
}

.off_chair_one_space .off_chair{
    background-color: #F5F6F8;
    margin-bottom: 16px;
    padding-left: 18px;
    padding-right: 15px;
    /* padding-bottom: 10px; */
    height: 68px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .discount_list//////////////
///////////////////////////////
/////////////////////////// */

.p_discount_item{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    font-weight: bold;
    margin-left: 560px;
    margin-bottom: 40px;
    /* margin: 0 auto; */
}

.discount_list {
    /* background-color: yellow; */
    display: flex;
    margin-left: 530px;
    width: fit-content;
    margin-bottom: 50px;
}

.chair_space{
    display: flex;
    /* width: 100%; */
}

.chair_space .dot_one{
    margin-left: 8px;
}

.chair_space .dot_one{
    visibility: hidden;
}

.chair_space:nth-of-type(1):hover .dot_one{
    visibility: visible;
}

.chair_space:nth-of-type(1):hover .chair_list{
    color: #FB2E86;
    text-decoration: underline;
}

.chair_space:nth-of-type(2):hover .dot_one{
    visibility: visible;
}

.chair_space:nth-of-type(2):hover .chair_list{
    color: #FB2E86;
    text-decoration: underline;
}

.chair_space:nth-of-type(3):hover .dot_one{
    visibility: visible;
}

.chair_space:nth-of-type(3):hover .chair_list{
    color:#FB2E86;
    text-decoration: underline;
}

.chair_space:nth-last-of-type(2){
    padding-left: 10px;
    padding-right: 10px;
}


.chair_space .chair_list{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
}


.discount_box{
    width: 87%; 
    display: flex;
    margin: auto;
}

.discount_box .discount_card > div{
    padding-bottom: 25px;
}

.discount_card  .title{
    /* background-color: green; */
    margin-top: 100px;
}

.discount_card .title{
    font-family: 'Josefin Sans';
    font-size: 35px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #151875;
    font-weight: bold;
}

.discount_card .text{
    font-family: 'Josefin Sans';
    font-size: 21px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #FB2E86;
}

.discount_card .desc{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #B7BACB;
}

.discount_card .thick_text{
    display: flex;
}

.rows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    width: max-content;
}

.thick_text .thick_good{
    margin-right: 6px;
    /* background-color: hotpink; */
    padding-top: 1px;
    line-height: 2rem;
}

.thick_text .short_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #B8B8DC;
}

.discount_card .shop_now{
    font-family: 'Josefin Sans';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #FB2E86;
    border: none;
    padding: 12px 30px;
}

.discount_chair_image{
    background-image: url(discount_images/discount_shadow.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-size: contain; */
    /* width: 70%; */
    /* height: 70%; */
    background-position: top 30px;
    /* width: 50%; */
}

/* top_categories///////////
////////////////////////////
////////////////////////////////////
////////////////////////////////////
////////////////////////////////// */

.top_categories .p_top_categories{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    font-weight: bold;
    padding-top: 90px;
    padding-bottom: 50px;
    margin-left: 550px;
    /* background-color: red; */
}

.top_categories{
    /* background-color: hotpink; */
}

.circle_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
    /* background-color: red; */
    /* gap: 0.2rem; */
    /* display: flex; */
}

.circle_boxes .circle_box{
    width: 100%;
    height: 250px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle_box .top_section{
    background-image: url("top_categories_images/seat_shadow2.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: red;
    /* background-position: center; */
    /* width: min-content; */
    /* clip-path: circle(); */
    /* background-color: #F6F7FB; */
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}

.circle_image img{
    width: 85%;
    height: 85%;
}

.top_section .view_shop{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #08D15F;
    border: none;
    padding: 8px 13px 8px 13px;
}

.circle_box .bottom_section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}

.bottom_section .text{
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 19px;
    color: #151875;
}

.bottom_section .amount{
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 19px;
    color: #151875;
    font-weight: bold;
}

.background{
    background-image: url(background_images/Rectangle\ 102.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-attachment: fixed;
}

.background h1{
    font-family: 'Josefin Sans';
    font-size: 35px;
    line-height: 155%;
    /* text-align: center; */
    letter-spacing: 0.015em;
    color: #151875;
}

.background h1 > span{
    display: block;
    text-align: center;
}

.background .shop_now{
    font-family: 'Josefin Sans';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #FB2E86;
    border: none;
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
}

.image_line{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* leatest_blog/////////////////////
///////////////////////////////////
//////////////////////////////// */

.ltst2_boxes{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    /* background-color: red; */
    /* padding-bottom: 40px; */
    margin: 0 auto;
}

.ltst2_boxes .ltst2_box{
    height: 430px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 90px;
}

.leatest_blog .p_leatest_blog{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    font-weight: bold;
    margin: 0 auto;
    width: 17%;
    padding-bottom: 50px;
}

.blog_photo{
    width: 100%;
    height: 50%;
}

.blog_photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.opening,
 h1,
 p,
 a{
    margin-top: 15px;
    padding-left: 13px;
}

a{
    padding-top: 2px;
    /* background-color: blue; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: end; */
}

.ltst2_box:hover .h1{
        font-family: 'Josefin Sans';
        font-size: 20px;
        line-height: 21px;
        color: #FB2E86;
        font-weight: bold;
}

.ltst2_box .opening{
    display: flex;
    width: 70%;
    /* background-color: blue; */
    justify-content: space-between;
}

.opening .name_sctn{
    display: flex;
    /* background-color: blue; */
}

.name_sctn .name_pin{
    margin-right: 5px;
}

.opening .date_sctn{
    display: flex;
    /* background-color: yellow; */
    align-items: center;
}

.date_sctn .date_pin{
    margin-right: 5px;
    /* margin-bottom: 2px; */
    /* background-color: orchid; */
}

.name_sctn .name{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 16px;
    color: #151875;
}

.date_sctn .date{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 16px;
    color: #151875;
}

.ltst2_box h1{
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 21px;
    color: #151875;
    font-weight: bold;
}

.ltst2_box p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #72718F;
}

.ltst2_box a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #151875;
}

/* footer//////////////////
///////////////////////////
//////////////////////// */

/* .footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
    background-color: #EEEFFB;
    padding: 70px 200px 40px 250px;
}

.footer .hekto{
    font-family: 'Josefin Sans';
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}

.footer h2{
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 26px;
    /* line-height: 45px; */
    /* color: #000000;
}

.footer p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8A8FB9;
} */ 

.footer{
    background-color: #EEEFFB;
    width: 100%;
}

.footer .container{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 80%;
    margin-left: 100px;
    gap: 2rem;
    padding: 70px 70px 80px 70px;
}

.hekto_sctn .hekto{
    font-family: 'Josefin Sans';
    font-size: 38px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

.hekto_sctn .item_list > div{
    /* margin-bottom: 15px; */
    margin-top: 25px;
    /* background-color: yellow; */
}

.hekto_sctn .item:nth-of-type(2){
    /* background-color: blue; */
    margin-top: 16px;
}

.other_sctn .our_packages{
    font-family: 'Josefin Sans';
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;
    font-weight: bold;
    /* background-color: green; */
}

.other_sctn .item_list > div{
    margin-bottom: 15px;
}

.item_list .item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8A8FB9;
}

.footer_end{
    background-color: #E7E4F8;
    display: flex;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer_end .copy_right{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #9DA0AE;
    padding-left: 230px;
}

.footer_end .social_media{
    padding-left: 490px;
    display: flex;
}

.footer_end .social_media > div{
    margin-right: 10px;
}

.social_media .social_media_image{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #323586;
    display: flex;
    justify-content: center;
    align-items: center;
}




















@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .home_page{
        display: none;
    }

    .navbar{
        display: none;
    }

    .nav{
        display: none;
    }
    
    .new_furniture{
        background-color:  #F2F0FF;
        display: flex;
        flex-direction: column;
        /* background-color: greenyellow; */
        align-items: center;
    }
   
    .new_collection .best_furniture{
        font-size: xx-large;
        /* background-color: skyblue; */
        font-weight: 1000px;
    }

    .bell_image img{
        display: none;
    }

    .new_collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-left: 10px; */
    }

    .new_collection .in_2020{
        text-align: center;
        font-size: x-large;
        padding-top: 40px;
        /* background-color: yellow; */
        line-height: 20px;
    }

    .new_collection .lorem{
        text-align: center;
        /* background-color: orange; */
        /* margin-left: 8px; */
        /* margin-right: 8px; */
    }

    .new_collection .shop_now{
        margin-top: 6px;
        padding: 5px 22px 5px 22px;
        border-radius: 8px;
        border: 2px solid #FB2E86;
        background-color: #fff;
        color: #FB2E86;
    }

    .new_collection .shop_now:hover{
        margin-top: 6px;
        padding: 5px 22px 5px 22px;
        border-radius: 8px;
        background-color: #FB2E86;
        color: #fff;
    }

    .space{
        display: none;
    }

    .featured_products .p_featured_products{
       margin-left: 115px;
       margin-bottom: 40px;
       font-size: 33px;
    }

    .featured_products .grid_featured_products .container{
       display: grid;
       grid-template-columns: 2fr 2fr;
       width: 500px;
       row-gap: 6rem;
    }

    .chair img{
       height: 70%;
       width: 70%
    }

    .chair{
        display: flex;
        justify-content: center;
    }

    .leatest_products .p_leatest_products{
        font-size: 33px;
    }

    .grid_leatest_products_one .container{
        width: 500px;
        display: block;
        margin-left: 100px;
    }

    .squared_box{
        margin-bottom: 40px;
    }

    .leatest_products .p_leatest_products{
        /* font-size: 33px; */
    }

    .grid_leatest_products_two .container{
        width: 500px;
        display: block;
        margin-left: 100px;
    }

    .squared_box{
        margin-bottom: 40px;
    }
    
    .p_shopex_offer{
        font-size: 33px; 
    }
   
    .shopex_grid .container{
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 500px;
        row-gap: 6rem;
    }

    .unique_products .two_flex{
        display: flex;
        flex-direction: column-reverse;
    }

    .inner_shadow{
        /* display: none; */
        margin-top: 100px;
    }

    .inner_shadow img{
      /* display: contents; */
    }

    /* .unique_text 
    ///////////////////
    /////////////////*/
     
    .two_flex .unique_text{
        padding-top: 10px;
        /* margin: 0 auto; */
        padding-left: 10px;
        padding-right: 20px;
    }

    .unique_text .unique_heading{
        font-size: 23px;
        text-decoration: underline;
    }

    .each_point_one .paragraph{
        font-size: small;

    }

    .each_point_two .paragraph{
        font-size: small;

    }

    .each_point_three .paragraph{
        font-size: small;
    }

    .point_color img{
        width: 50%;
        height: 40%;
    }

    /* .Trending_pproducts
    ////////////////////////
    ///////////////////////
    ///////////////////// */

    .trending_products .p_trending_products{
        font-size: 33px; 
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 80px;
    }

    .trending_products .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 400px;
        margin: 0 auto;
        gap: 1rem;
        /* padding-right: 40px; */
    }

}