*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home_page{
    color: gray;
    font-size: small;
    background-color: #FFFFFF;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    color: white;
    font-size:x-small;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar .contact{
    display: flex;
}

.navbar .contact .mail{
    padding-right: 40px;
}

.navbar .details{
    display: flex;
}

.navbar .details .usd{
    padding-left: 15px;
}

.navbar .details .login{
    padding-left: 15px;
}

.navbar .details .wishlist{
    padding-left: 15px;
}

.navbar .details .cart{
    padding-left: 15px;
}


.nav{
    display: flex;
    height: 60px;
}

.nav .logo{
    margin-left: 233px;
    margin-right: 55px;
    font-family: 'josefin Sans';
    font-size: 34px;
    line-height: 40px;
    color: #0D0E43;
    display: flex;
    align-items: center;
}

.nav .about{
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#0D0E43;
    display: flex;
    align-items: center;
}

.nav .about > div{
    margin-right: 30px;
}

.nav .about .home{
    color: #FB2E86;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.new_furniture{
    background-color: #F2F0FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, 200px);
}


.bell_image img{
    max-width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 1/2;
}

.new_collection{
    grid-column: 2/5;
    grid-row: 1/3;
    width: 590px;
    align-self: center;
    margin-top: 30px;
    padding-right: 15px;
}

.new_collection .best_furniture{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FB2E86;
}

.new_collection .in_2020{
    font-family: 'Josefin Sans';
    font-size: 53px;
    line-height: 65px;
    letter-spacing: 0.015em;
    color: #000000;
}

.new_collection .lorem{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #8A8FB9;
    margin-bottom: 30px;
    padding-top: 15px;
}

.new_collection .shop_now{
    font-family: 'Josefin Sans';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 40px;
    display: inline;
    padding: 8px 25px 8px 25px;
    background-color: #FB2E86;
}

.chair img{
    min-width: 50%;
    grid-column: 5/7;
    width: 400px;
    margin-top: 100px;
    background-color:  #F2F0FF;
    padding-bottom: 10px;
}

.space{
    background-color: #F2F0FF;
    padding-bottom: 90px;
    color: #F2F0FF;
}


.featured_products{
    padding: 58px 120px 20px 60px;
    overflow-x: hidden;
}

.featured_products .p_featured_products{
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
    display: flex;
    justify-content: center;
}

.featured_products .grid_featured_products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_featured_products .plastic_wood img{
    width: 100%;
    height: auto;
}

.grid_featured_products .brown_wood img{
    width: 100%;
    height: auto;
}

.grid_featured_products .blue_wood img{
    width: 100%;
    height: auto;
}

.grid_featured_products .baby_wood img{
    width: 100%;
    height: auto;
}